body {
background-color: #b80606;
color: #2600ffda;
font-family: Arial, sans-serif;
text-align: center;

}
.room {
width: 600px;
margin: 80px auto;
padding: 40px;
border: 2px solid #18d6bd;
border-radius: 10px;
background-color: rgb(0, 0, 0);
}
.button1 {
display: block;
width: 350px;
margin: 15px auto;
padding: 15px;
font-size:24px;
background-color: #137bb8;
color: #000000;
text-decoration: wavy underline rgb(0, 0, 0);
border-radius: 8px;
align-self: center;
}
.button2 {
display: block;
width: 350px;
margin: 15px auto;
padding: 15px;
font-size:24px;
background-color: #ff0000;
color: #000000;
text-decoration: wavy underline rgb(0, 0, 0);
border-radius: 8px;
align-self: center;
}

.button3 {
display: block;
width: 350px;
margin: 15px auto;
padding: 15px;
font-size:24px;
background-color: #00ff9d;
color: #000000;
text-decoration: wavy underline rgb(0, 0, 0);
border-radius: 8px;
align-self: center;
}
.button:hover {
background-color: #c0546f;
}
.chibi{
display: flex;
align-items: center;
background-color: #000000;
color: #000000;
text-decoration: wavy underline rgb(0, 0, 0);
border-radius: 8px;
}

